#content {
    width: 400px;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .modified {
    background-color: #f0f8ff; 
  }
  
  .modified p {
    color: #ff4500;
    font-size: 1.2em;
  }
  img {
    width: 300px;
    height: auto; 
    display: block; 
    margin: auto;
  }
  